$border-style: 1px solid #e0e0f4;
$small-font-size: 12px;
$lighten-color: lighten(#202532, 20%);

.address {
  align-items: baseline;
  .address-path,
  .address-unit {
    font-size: $small-font-size;
    letter-spacing: 0.05em;
    color: $lighten-color;
  }
  .address-quantity {
    align-items: baseline;
  }
}

.addresses-footer {
  align-items: center;
  font-size: $small-font-size;
  border-top: $border-style;
  span {
    padding-right: 2rem;
  }
}

hr {
  border: $border-style !important;
  margin: 0 1.6rem !important;
}
